# Ignore Mac/Windows system files
.DS_Store
Thumbs.db

# Ignore Python specific files
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Ignore React specific files
node_modules/
build/
.env

# Ignore your API Key file if you make one later
secrets.py